@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

        body {
            background: url("klar.png") no-repeat;
            /* Keep the inherited background full size. */
            background-attachment: fixed; 
            background-size: cover;
            display: grid;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-position: center center;
            display: flex;
    justify-content: center;
        }

        .site-header__title {
            padding-top: 15%;
        }

        .tack {
            width: auto;
            height: auto;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
            border-radius: 5px;
            position: fixed;
            z-index: 1;
            background: inherit;
            overflow: hidden;
            top: 15%;
            padding: 0 3% 0 3%;
            margin: 5%;
        }

        .tack:before {
            content: "";
            position: absolute;
            background: inherit;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
            filter: blur(10px);
            margin: -20px;
        }


        .button {
            background-color: #000000; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            margin-top: 8%;
            margin-bottom: 11%;
          }

/* MEDIA QUERY */



/* @media (max-width: 950px) {
    body {
        background: url("klar.png") no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-position: center center;
    }
    .site-header__title {
        padding-top: 15%;
    }
    .tack {
        width: 25rem;
        height: 25rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        position: fixed;
        z-index: 1;
        background: inherit;
        overflow: hidden;
        left: 30%;
        top: 25%;
    }
    .tack:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
    }
    .site-header__title {
        font-size: 400% !important;
    }
    #checkmark {
        font-size: 500%;
    }
    .button {
        margin-top: 7%;
    }
}
@media (max-width: 650px) {
    body {
        background: url("klar.png") no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-position: center center;
    }
    .site-header__title {
        padding-top: 15%;
    }
    .tack {
        width: 25rem;
        height: 25rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        position: fixed;
        z-index: 1;
        background: inherit;
        overflow: hidden;
        left: 20%;
        top: 25%;
    }
    .tack:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
    }
    .button {
        margin-top: 7%;
    }
    
}
@media (max-width: 550px) {
    body {
        background: url("klar.png") no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-position: center center;
    }
    .site-header__title {
        padding-top: 15%;
    }
    .tack {
        width: 21rem;
        height: 23rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        position: fixed;
        z-index: 1;
        background: inherit;
        overflow: hidden;
        left: 20%;
        top: 27%;
    }
    .tack:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
    }
    .button {
        margin-top: 7%;
    }
}
@media (max-width: 450px) {
    body {
        background: url("klar.png") no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-position: center center;
    }
    .site-header__title {
        padding-top: 15%;
    }
    .tack {
        width: 18rem;
        height: 23rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        position: fixed;
        z-index: 1;
        background: inherit;
        overflow: hidden;
        left: 19%;
        top: 27%;
    }
    .tack:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
    }
    .button {
        margin-top: 7%;
    }
}
@media (max-width: 375px) {
    body {
        background: url("klar.png") no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-position: center center;
    }
    .site-header__title {
        padding-top: 15%;
    }
    .tack {
        width: 18rem;
        height: 22rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        position: fixed;
        z-index: 1;
        background: inherit;
        overflow: hidden;
        left: 12%;
        top: 27%;
    }
    .tack:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
    }
    .button {
        margin-top: 7%;
    }
}
@media (max-width: 320px) {
    body {
        background: url("klar.png") no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-position: center center;
    }
    .site-header__title {
        padding-top: 15%;
    }
    .tack {
        width: 16rem;
        height: 22rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        position: fixed;
        z-index: 1;
        background: inherit;
        overflow: hidden;
        left: 10%;
        top: 27%;
    }
    .tack:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
    }
    .button {
        margin-top: 7%;
    }
} */

