.form-dialog {
    width: 60%;
    max-width: 910px;
    background: white;
    border: 0px solid #a0a096;
    border-radius: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    box-shadow: 2px 3px 14px 1px #a0a096;
    padding: 25px;
    margin-left: 20%;
    position: fixed;
    top: 25vh;
    z-index: 100;
    overflow: auto;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }



.btn-primary {
    color: #fff;
    background-color: #cc8d91;
    border-color: #cc8d91;
}

.btn-primary:hover {
    color: #fff;
    background-color: #cc8d91;
    border-color: #cc8d91;
    
}


.form-check-input:checked {
    background-color: #cc8d91;
    border-color: #cc8d91;
}